* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: grid;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #ffe6e9;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.2s;
}

.question-container {
  position: relative;
  text-align: center;
  z-index: 2;
}

.local-gif {
  width: 100%;
  max-width: 300px;
  border-radius: 10px;
  display: block;
  margin: 0 auto 3rem auto;
  pointer-events: none;
}

.question {
  font-size: 3.5rem;
  margin-bottom: 2rem;
  color: #333;
}

.button-container {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 3rem;
  flex-wrap: wrap;
  margin-top: 2rem;
  min-height: 100px;
}

.btn {
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  cursor: pointer;
  transition: all 0.3s ease;
  background-color: #ff6b81;
  color: white;
  box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
}

.btn:hover {
  background-color: #ffa4b1;
  transform: scale(1.1);
  box-shadow: 0px 6px 20px rgba(255, 107, 129, 0.7);
  text-shadow: 1px 1px 5px rgba(255, 182, 193, 0.8);
}

.yes-btn {
  position: absolute;
  left: 0;
  top: 0;
}

.no-btn {
  position: relative;
  z-index: 3;
  transform: none !important;
  font-size: 16px !important;
  padding: 10px 20px !important;
  background-color: #ff6b81;
  color: white;
  box-shadow: 0px 4px 15px rgba(255, 107, 129, 0.5);
  border-radius: 50px;
}

.result-container {
  display: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.gif-result {
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  margin-bottom: 2rem;
}

.result-container h2 {
  font-size: 2.8rem;
  color: #d63c63;
}

@media screen and (max-width: 500px) {
  .question {
    font-size: 2.2rem;
  }

  .btn {
    padding: 10px 16px;
    font-size: 14px;
  }

  .local-gif {
    max-width: 90vw;
  }
}


